@import './vendors/bootstrap-5.3.8/bootstrap';
@import './partials/fonts';
@import './partials/base';







// Home Page


// Main Hero Section

section.main_hero_section {
    min-height: 100vh;

    figcaption {

        h1 {
            text-transform: uppercase;
        }
    }


    .header {
        width: 100%;
        position: absolute;
        top: 1rem;
        left: 0;
        z-index: 5;

        .header-inner {
            .site_logo {
                height: 3.5rem;
            }

            .links {
                gap: 1.5rem;

                .nav_btn {
                    i {
                        font-size: 1.5rem;
                        color: $white_color;
                    }
                }

                .btn-close {
                    --bs-btn-close-bg: none;
                    border: none;

                    i {
                        font-size: 1.5rem;
                        color: black;
                        transform-origin: center;
                        transition: transform 0.3s ease;
                        display: inline-block;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &:hover {
                        i {

                            transform: rotate(90deg);
                        }
                    }
                }
            }

            .offcanvas-body{
                margin-top: 1.5rem;
                ul{
                    margin-left: 2rem;
                    li{
                        a{
                            text-transform: uppercase;
                            color: $theme_black;
                            font-weight: 600;
                            font-size: .9rem;
                            transition: all ease-in-out .3s;

                            &:hover{
                                color: $secondary_theme_button_bg;
                            }
                        }
                        &:not(:last-child){
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
    }

}

// Offcanvas

.offcanvas {
    .offcanvas-header {
        background-color: #faf8f5;
        display: flex;
        flex-direction: column;
    }
}

// About Us


.about_us {
    .col-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .images_overlap {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 600px;


        }

        figure {
            position: absolute;
            width: 80%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;


        }

        figure.main_img {
            top: 0;
            right: 0;

        }

        figure.overlay_img {
            top: 50%;
            left: 0;
            z-index: 1;
            width: 50%;
            height: 65%;
            transform: translateY(-50%);
            border: 4px solid #ebd7b2;



        }
    }
}


section.video_section {
    min-height: 70vh;

    figcaption {
        h1 {

            span {
                text-transform: uppercase;
            }
        }
    }
}




section.room_suites {
    .col-inner {
        height: 100%;
    }

    a {


        figure {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/.8;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            z-index: 1;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all ease-in-out .3s;
            }

            figcaption {
                position: absolute;
                bottom: -1.2rem;
                left: 0;
                padding-left: 2rem;
                margin-top: 20rem;
                color: $white_color;
                transition: all ease-in-out .3s;
                overflow: hidden;
                z-index: 3;


                h3 {
                    text-transform: capitalize;
                    font-size: clamp(1.5rem, 2vw, 1.6rem);
                    font-weight: 600;
                    padding-bottom: 1rem;

                    small {
                        display: block;
                        text-transform: uppercase;
                        font-size: 45%;
                        font-weight: 600;
                        letter-spacing: 2px;

                    }
                }

                small.link {
                    opacity: 0;
                    font-weight: 600;
                    font-size: 1rem;
                    position: relative;
                    padding-bottom: .5rem;
                    overflow: hidden;
                    display: inline-block;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $white_color;
                        bottom: 0;
                        left: 0;
                        transform: translateX(-100%);
                        transition: all ease-in-out .5s;

                    }
                }
            }

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background: linear-gradient(transparent, rgb(0, 0, 0));
                z-index: 2;
                transition: all ease-in-out .3s;

            }
        }

        &:hover {
            figure {
                img {
                    transform: scale(1.1)
                }

                &::after {
                    height: 70%;
                }
            }

            figcaption {
                transform: translateY(-50%);



                small.link {
                    opacity: 1;

                    &::after {
                        transform: translateX(0);
                    }
                }
            }
        }

    }

}

// All Rooms Page



section.secondary_hero_section {
    min-height: 70vh;
}







@import './partials/mediaqueries';