@media(max-width: 1100px) {
    .lg-hide {
        display: none;
    }

}


@media(max-width: 992px) {
    .about_us {
        .col-inner {
            .images_overlap {
                min-height: 650px;


            }

            figure {
                height: 95%;
            }
        }
    }

}


@media(max-width: 768px) {
    section.main_hero_section {
        min-height: 90vh;
    }

    .about_us {
        .col-inner {
            .images_overlap {
                min-height: 500px;


            }

            figure.overlay_img {

                height: 55%;



            }
        }
    }
}